/* src/styles/header.css */

.header {
  background-color: #007bff;
  padding: 7px 0; /* Increased padding for better spacing */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-family: 'Lobster', cursive; /* Use Lobster font */
  font-size: 2rem; /* Larger font size */
  color: #fff;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px; /* Increased margin between nav items */
}

.nav-link {
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem; /* Larger font size */
}

.nav-link:hover {
  text-decoration: underline;
}

